body {
  font-family: "Roboto", sans-serif;
  color: #24160b;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */

.container-first {
  padding: 32px 0;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 32px;
  margin-right: 32px;
}

.header-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.48235;
  color: #222;
}
.header-button {
  border-radius: 80px;
  width: 154px;
  height: 57px;
  background-color: #efae35;
  margin-right: 98px;
  border: none;
  padding: 15px 32px;
}

/*  FIRST SECTION */

.first-section {
  background-image: url("../images/background-image-first.png");
  width: 1200px;

  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  background-position: center;
  /* padding-top: 231px;
  padding: 361px; */
}

.first-title-first-section {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: #000;
  max-width: 551px;
  padding-left: 90px;
  padding-bottom: 32px;
  padding-top: 231px;
}

.text-first-section {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: #000;
  padding-left: 90px;
  padding-bottom: 361px;
}

/* SECOND-SECTION */

.container-second-section {
  display: flex;
  margin-top: 259px;
  margin-bottom: 421px;
}

.title-first-container {
  margin-left: 147px;
}

.second-title-second-section {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 32px;
}
.first-text-second-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #24160b;
  width: 416px;
}
.button-second-section {
  border-radius: 80px;
  width: 134px;
  height: 57px;
  background-color: #efae35;
  margin-top: 54px;
  border: none;
  margin-right: 24px;
}
.second-text-second-section {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.48235;
  display: inline;
  margin-top: 56px;
  position: relative;
}

.second-text-second-section::before {
  content: "";
  width: 101px;
  height: 1px;
  background-color: rgba(36, 22, 11, 0.12);
  position: absolute;
  margin-top: 92px;
}

/* THIRD SECTION */
.third-title-third-section {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  width: 347px;
}

.first-text-third-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  width: 442px;
}

.four-title-third-section {
  font-weight: 400;
  font-size: 58px;
  line-height: 0.96552;
}

.second-text-third-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 398px;
}

.third-text-third-section {
  font-weight: 400;
  font-size: 10px;
  line-height: 3.06;
}

/* SECTION 4 */

.third-title-four-section {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  width: 440px;
}

.first-text-four-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  width: 457px;
}

.four-title-four-section {
  font-weight: 400;
  font-size: 60px;
  line-height: 0.93333;
}

.second-text-four-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 392px;
}

.third-text-four-section {
  font-weight: 400;
  font-size: 10px;
  line-height: 3.06;
}

/* SECTION 5 */

.third-title-five-section {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  width: 386px;
}

.first-text-five-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  width: 456px;
}

.four-title-five-section {
  font-weight: 400;
  font-size: 58px;
  line-height: 0.96552;
}

.second-text-five-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 379px;
}

.third-text-five-section {
  font-weight: 400;
  font-size: 10px;
  line-height: 3.06;
}

/* SECTION 6 */

.third-title-six-section {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.3619;
  width: 364px;
}

.first-text-six-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  width: 454px;
}

.four-tile-six-section {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.03704;
}

.second-rext-six-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 351px;
}

.third-text-six-section {
  font-weight: 400;
  font-size: 10px;
  line-height: 3.06;
}
